.App {
  text-align: center;
}

.appbar-background{
  background-color: rgb(8, 8, 61);
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.logo-text{
  font-size: 35px;
  letter-spacing: 1px;
  color: crimson;
  font-family: 'Dancing Script', cursive;
  margin: 20px;
}
.button-flex{
display:flex;
}
.button-flex-div{
  display:flex;
}
.button{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  color: whitesmoke;
  width: max-content;
  margin: 8px;
  font-size: 20px;
}
.menu-icon{
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}

.section-margin{
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}

.container{
  display: inline-grid;
  justify-content: space-evenly;
      align-items: center;
      justify-items: center;
  margin: 15px;
  
  }
  
  .full-det{
    border-radius: 5px;
    width: 300px;
    overflow: hidden;
    font-family: sans-serif;
    letter-spacing: 1px;
    height: min-content;
    box-shadow: 2px 2px 6px 1px rgb(83 81 81);
    cursor: pointer;
  }
  .book-img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    transition: all 0.5s;
  }
  .book-img:hover{
   transform: scale(1.1)
  }
  .name-padding{
    padding-left: 5px;
  }


  .book-name{
    font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 600;
  }
  .author-name{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: rgb(20, 112, 139);
  }
  .rating-more{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
  }
  .in-con{
    display: flex;
    flex-direction: column;
   gap: 10px;
   padding-top: 50px;
   padding-left: 150px;
   padding-right: 150px;
   padding-bottom: 500px;
  }

  .details-div{
    margin: 50px;
  }

  .div-details-flex{
    display: flex;
        flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    
  }

  .details-name{
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    overflow: hidden;
    font-family: sans-serif;
    letter-spacing: 1px;
    height: 360px;
    box-shadow: 2px 2px 6px 1px rgb(83 81 81);
  }
  .book-name-title{
    font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
  }
  

  @media(max-width:1100px){
    .section-margin{
      margin-left: 30px;
      margin-right: 30px;
    }
    .details-div{
      margin: 90px;
    }

    .details-name{
      height: 400px;
      width: 400px;
    }
    .div-details-flex{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      
    }
  }

@media(max-width:700px){

  .menu-icon{
    display: block;
  }

  .button-flex-div{
    display: none;
  }

  .appbar-background{
    height: 140px;
  }

  .section-margin{
    margin-left: 5px;
    margin-right: 5px;
  }
  .in-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 500px;
}

.details-div{
  margin: 30px;
}

.details-name{
  height: 400px;
  width: 430px;
}

}


