.App {
  text-align: center;
}

.appbar-background{
  background-color: rgb(8, 8, 61);
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.logo-text{
  font-size: 35px;
  letter-spacing: 1px;
  color: crimson;
  font-family: 'Dancing Script', cursive;
  margin: 20px;
}
.button-flex{
display:flex;
}
.button-flex-div{
  display:flex;
}
.button{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  color: whitesmoke;
  width: max-content;
  margin: 8px;
  font-size: 20px;
}
.menu-icon{
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}

.section-margin{
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}

.container{
  display: inline-grid;
  justify-content: space-evenly;
      align-items: center;
      justify-items: center;
  margin: 15px;
  
  }
  
  .full-det{
    border-radius: 5px;
    width: 300px;
    overflow: hidden;
    font-family: sans-serif;
    letter-spacing: 1px;
    height: min-content;
    box-shadow: 2px 2px 6px 1px rgb(83 81 81);
    cursor: pointer;
  }
  .book-img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    transition: all 0.5s;
  }
  .book-img:hover{
   transform: scale(1.1)
  }
  .name-padding{
    padding-left: 5px;
  }


  .book-name{
    font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 600;
  }
  .author-name{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: rgb(20, 112, 139);
  }
  .rating-more{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
  }
  .in-con{
    display: flex;
    flex-direction: column;
   gap: 10px;
   padding-top: 50px;
   padding-left: 150px;
   padding-right: 150px;
   padding-bottom: 500px;
  }

  .details-div{
    margin: 50px;
  }

  .div-details-flex{
    display: flex;
        flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    
  }

  .details-name{
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    overflow: hidden;
    font-family: sans-serif;
    letter-spacing: 1px;
    height: 360px;
    box-shadow: 2px 2px 6px 1px rgb(83 81 81);
  }
  .book-name-title{
    font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
  }
  
  .img-div-home{
      background-image: linear-gradient(rgba(128, 125, 125, 0.3),transparent),url("https://wallpaperaccess.com/full/124383.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 450px;
   animation: slider 9s infinite linear;
  }

  .text-div-home{
    padding-top: 120px;
    margin-left: 120px;
  }

  .text-design{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 80px;
    margin: 0;
    color: rgb(224, 209, 230);
    font-weight: 800;
    display: flex;
  }

  .text-design-store{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    margin: 0;
    color: rgb(214, 226, 222);
    font-weight: 500;
    display: flex;
  }
  .text-design-service{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .text-design-here{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }

.icon-logo-div{
  padding: 10px;
   margin: 10px;
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 10px 0px rgb(68, 67, 67);
  cursor: pointer;
}

.logo-section{
  margin-top: 50px;
  display: flex;
      flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

  .icon-logo{
    padding-top: 10px;
    height: 90px;
    width: 90px;
    object-fit: cover;
  }
  .icon-logo-a{
    padding-top: 10px;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .icon-logo-b{
    padding-top: 15px;
    height: 70px;
    width: 70px;
    object-fit: cover;
  }

.login-page-background{
  background-image: linear-gradient(to left bottom, #55f210, #00e49e, #00ccf3, #00aaff, #377fee);
  height: 100vh;
}


.login-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  gap: 10px;
}
.login-head{
  font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 500;
  margin-top: 50px;
}
.please{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 200;

}
.icons{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.failed{
  object-fit: cover;
  height: 200px;
  width: 200px;
 border-radius: 60%;
}

.signup-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.signup-word{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 200;
  text-decoration: underline;
}


  @media(max-width:1100px){
    .section-margin{
      margin-left: 30px;
      margin-right: 30px;
    }
    .details-div{
      margin: 90px;
    }

    .details-name{
      height: 400px;
      width: 400px;
    }
    .div-details-flex{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      
    }
  }

@media(max-width:700px){

  .menu-icon{
    display: block;
  }

  .button-flex-div{
    display: none;
  }

  .appbar-background{
    height: 140px;
  }

  .section-margin{
    margin-left: 5px;
    margin-right: 5px;
  }
  .in-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 500px;
}

.details-div{
  margin: 30px;
}

.details-name{
  height: min-content;
  width: 430px;
  margin-bottom: 100px;
}

.text-div-home{
  padding-top: 120px;
  margin-left: 20px;
}


.text-design{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0;
  color: rgb(224, 209, 230);
  font-weight: 600;
  display: flex;
}

.text-design-store{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  margin: 0;
  color: rgb(214, 226, 222);
  font-weight: 300;
  display: flex;
}

.logo-section{
  margin-bottom: 150px;
 
}

.login-page-background{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 200px;
}

}

@keyframes slider{
0%{ background-image: linear-gradient(rgba(128, 125, 125, 0.3),transparent),url("https://wallpaperaccess.com/full/124493.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
35%{
  background-image: linear-gradient(rgba(128, 125, 125, 0.3),transparent),url("https://w0.peakpx.com/wallpaper/972/48/HD-wallpaper-stack-of-books-blue-background-education-concepts-books-library-school-learning-concepts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
75%{
  background-image: linear-gradient(rgba(128, 125, 125, 0.3),transparent),url("https://music.paruto.io/wp-content/uploads/2018/03/books-wallpaper-49796-51475-hd-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
}
